.button1 {
    position: absolute;
    top: 30px;
    right: 150px;
}
.button2 {
    position: absolute;
    top: 30px;
    right: 30px;
}
.button3 {
    position: absolute; 
    top: 30px;
    right: 30px;
}
